<h1>Stupid coaching</h1>

<div class="message">
  <p><%= @question %></p>
  <p>- You</p>
</div>

<div class="message">
  <p><%= @answer %></p>
  <p>- The coach</p>
</div>

<%= link_to  "Ask another question", ask_path %>
